:root {
    --primary-color: blueviolet;
    --secondary-color: blue;
  }

  * {
    box-sizing: border-box;
  }

h1, h2 {
    color: var(--primary-color);
    text-align: center;
}


legend {
    color: var(--secondary-color);
}

.UserInformation-Fieldset {
    width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
    

}

li {
    padding-bottom: 10px;
}

.body-aqua {
    background-color: aqua;
}

